.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 880px;
    min-height: 74px;
    margin: 45px auto 0;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgba(84,84,84, .7);
}


@media screen and (max-width:767px) {
    .header {
        width: 320px;
        min-height: 56px;
        margin: 38.25px auto;
    }
}